* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

fieldset {
  border: 2px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

legend {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="tel"],
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 70%;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #fff;
}

/* Responsive design */
@media screen and (min-width: 768px) {
  fieldset {
    max-width: 600px;
    margin: 0 auto;
  }
}

.btm_info,
.top1,
.top2,
.top3,
.mid_info {
  display: inline-block;
}

#property-number,
#rooms,
#address {
  width: 70%;
}
#type,
#rent {
  width: 50%;
}
#manage {
  width: 50%;
}
#branch {
  width: 45%;
  position: relative;
  left: 20px;
}
.submit_container {
  display: flex;
  justify-content: center;
}

.mid_info,
.top3 {
  position: relative;
}
#business-type,
#contact-name,
#cname,
#owner-number,
#owner-name,
#owner-tel {
  position: relative;
  width: 15rem;
}
#cname,
#contact-name {
  left: 2rem;
}

#owner-name {
  width: 16rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.page {
  position: relative;
}
#form {
  flex: 1;
  top: 10rem;
}
