<!DOCTYPE html>
<html>

<head>
    <title>DreamHome Lease Number</title>
    <link rel="stylesheet" href="/static/LeaseForm/style.css">
    <script src="/static/components/header.js" type="text/javascript" defer></script>

</head>

<body>
    <div id="navbar" class="page">
        <header-component></header-component>
    </div>
    <div id="form" class="page">
        <fieldset>
            <legend>
                <h2>DreamHome Lease</h2>
            </legend>
            <h3>Form Number: <em>00345810</em>
            </h3>
            <form action="/LeaseForm" method="POST">
                <fieldset>
                    <div>
                        <div class="top">
                            <label for="client_number">Client Number:</label>
                            <input type="number" id="client_number" name="client_number"><br><br>
                        </div>
                        <div class="top">
                            <label for="client_name">client Name:</label>
                            <input type="text" id="client_name" name="client_name"><br><br>
                        </div>
                    </div>
                </fieldset><br>
                <fieldset>
                    <label for="property_number">Property Number:</label>
                    <input type="number" id="property_number" name="property_number"><br><br>
                    <label for="property_address">Property Address:</label>
                    <textarea id="property_address" name="property_address" required></textarea><br><br>
                </fieldset><br>
                <fieldset>
                    <div>
                        <div class="rent">
                            <label for="rent_start">Rent Start:</label>
                            <input type="date" id="rent_start" name="rent_start"><br><br>
                        </div>
                        <div class="rent">
                            <label for="rent_finish">Rent Finish:</label>
                            <input type="date" id="rent_finish" name="rent_finish"><br><br>
                        </div>
                    </div>
                    <label for="duration">Duration:</label>
                    <input type="text" id="duration" name="duration"><br><br>
                </fieldset><br>
                <fieldset>
                    <legend>Enter payment details</legend>
                    <div>
                        <div class="details">
                            <label for="monthly_rent">Monthly Rent:</label>
                            <input type="text" id="monthly_rent" name="monthly_rent"><br><br>
                        </div>
                        <div class="details">
                            <label for="payment_method">Payment Method:</label>
                            <input type="text" id="payment_method" name="payment_method"><br><br>
                        </div>
                    </div>
                    <div>
                        <div class="details">
                            <label for="deposit_paid">Deposit Paid (Y or N):</label>
                            <input type="text" id="deposit_paid" name="deposit_paid"><br><br>
                        </div>
                        <div class="details">
                            <label for="deposit_amount">Deposit Amount:</label>
                            <input type="text" id="deposit_amount" name="deposit_amount"><br><br>
                        </div>
                    </div>
                    <div class="submit_container">
                        <input type="submit" value="Submit">
                    </div>
                </fieldset><br>

            </form>
        </fieldset><br>
    </div>
</body>

</html>